body{
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}
.btn-container{
    display: flex;
}
.yellow {
    background-color: rgb(241, 241, 134);
}
.green {
    background-color: rgb(48, 104, 48);
}
.purple {
    background-color: rgb(175, 123, 175);
}.red {
    background-color: rgb(230, 104, 104);
}
.flash{
    background-color: aliceblue;
}
.userflash{
    background-color: rgb(17, 168, 4);
}